@using EcommerceCoza.BLL.ViewModels
@model List<AddressViewModel>
<main class="pt-90">
    <div class="mb-4 pb-4"></div>
    <section class="my-account container">
        <h2 class="page-title">Addresses</h2>
        <div class="row">
            <div class="col-lg-3">
                <ul class="account-nav">
                    <li><a asp-controller="Account" asp-action="Index" class="menu-link menu-link_us-s">Dashboard</a></li>
                    <li><a asp-controller="Order" asp-action="Index" class="menu-link menu-link_us-s">Orders</a></li>
                    <li><a asp-controller="Address" asp-action="Index" class="menu-link menu-link_us-s">Addresses</a></li>
                    <li><a asp-controller="Account" asp-action="Edit" class="menu-link menu-link_us-s">Account Details</a></li>
                    <li><a asp-controller="Wishlist" asp-action="Index" class="menu-link menu-link_us-s">Wishlist</a></li>
                    <li><a asp-controller="Account" asp-action="Logout" class="menu-link menu-link_us-s">Logout</a></li>
                </ul>
            </div>
            <div class="col-lg-9">
                <div class="page-content my-account__address">
                    <div class="row">
                        <div class="col-6">
                            <p class="notice">The following addresses will be used on the checkout page by default.</p>
                        </div>
                        <div class="col-6 text-right">
                            <a asp-controller="Address" asp-action="Create" class="btn btn-sm btn-info">Add New</a>
                        </div>
                    </div>
                    <div class="my-account__address-list row">
                        <h5>Shipping Address</h5>

                        @if (Model != null && Model.Any())
                        {
                            @foreach (var a in Model)
                            {
                                <div class="my-account__address-item col-md-6">
                                    <div class="my-account__address-item__title">
                                        <h5>
                                            @(string.Join(" ", new[] { a.FirstName, a.LastName }.Where(s => !string.IsNullOrWhiteSpace(s))))
                                            @if (a.IsDefault)
                                            {
                                                <i class="fa fa-check-circle text-success"></i>
                                            }
                                        </h5>
                                        <a asp-controller="Address" asp-action="Edit" asp-route-id="@a.Id">Edit</a>
                                    </div>
                                    <div class="my-account__address-item__detail">
                                        @if (!string.IsNullOrWhiteSpace(a.Company)) { <p>@a.Company</p> }
                                        @if (!string.IsNullOrWhiteSpace(a.Adress)) { <p>@a.Adress</p> }
                                        <p>@a.City@((!string.IsNullOrWhiteSpace(a.City) && !string.IsNullOrWhiteSpace(a.Country)) ? ", " : "")@a.Country</p>
                                        @if (!string.IsNullOrWhiteSpace(a.PostalCode)) { <p>@a.PostalCode</p> }
                                        @if (!string.IsNullOrWhiteSpace(a.Phone)) { <p>Mobile : @a.Phone</p> }
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-12 text-muted">No addresses yet. Use "Add New" to create one.</div>
                        }
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
        </div>
    </section>
</main>