@using EcommerceCoza.BLL.ViewModels
@model ProductViewModel
@inject WebApplication4.Services.ICurrencyService CurrencyService
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<main class="pt-90">
    <div class="mb-md-1 pb-md-3"></div>
    <section class="product-single container">
        <div class="row">
            <div class="col-lg-7">
                <div class="product-single__media" data-media-type="vertical-thumbnail">
                    @if (Model.ProductVariants.Any() && Model.ProductVariants.First().ImageNames.Any())
                    {
                        var firstVariant = Model.ProductVariants.First();
                        <div class="product-single__image">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    @* Cover Image *@
                                    @if (!string.IsNullOrEmpty(firstVariant.CoverImageName))
                                    {
                                        <div class="swiper-slide product-single__image-item">
                                            <img loading="lazy" class="h-auto"src="~/assets/images/products/@firstVariant.CoverImageName" width="674"
                                                 height="674" alt="@Model.Name" />
                                            <a data-fancybox="gallery" href="~/assets/images/products/@firstVariant.CoverImageName" data-bs-toggle="tooltip"
                                               data-bs-placement="left" title="Zoom">
                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <use href="#icon_zoom" />
                                                </svg>
                                            </a>
                                        </div>
                                    }
                                    @* Additional Images *@
                                    @foreach (var imageName in firstVariant.ImageNames)
                                    {
                                        <div class="swiper-slide product-single__image-item">
                                            <img loading="lazy" class="h-auto"src="~/assets/images/products/@imageName" width="674"
                                                 height="674" alt="@Model.Name" />
                                            <a data-fancybox="gallery" href="~/assets/images/products/@imageName" data-bs-toggle="tooltip"
                                               data-bs-placement="left" title="Zoom">
                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <use href="#icon_zoom" />
                                                </svg>
                                            </a>
                                        </div>
                                    }
                                </div>
                                <div class="swiper-button-prev">
                                    <svg width="7" height="11" viewBox="0 0 7 11"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <use href="#icon_prev_sm" />
                                    </svg>
                                </div>
                                <div class="swiper-button-next">
                                    <svg width="7" height="11" viewBox="0 0 7 11"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <use href="#icon_next_sm" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="product-single__thumbnail">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    @if (!string.IsNullOrEmpty(firstVariant.CoverImageName))
                                    {
                                        <div class="swiper-slide product-single__image-item">
                                            <img loading="lazy" class="h-auto"
                                                src="~/assets/images/products/@firstVariant.CoverImageName" width="104" height="104" alt="@Model.Name" />
                                        </div>
                                    }
                                    @foreach (var imageName in firstVariant.ImageNames)
                                    {
                                        <div class="swiper-slide product-single__image-item">
                                            <img loading="lazy" class="h-auto"
                                                src="~/assets/images/products/@imageName" width="104" height="104" alt="@Model.Name" />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="product-single__image">
                            <img loading="lazy" class="h-auto"src="~/assets/images/products/product-placeholder.jpg" width="674"
                                 height="674" alt="@Model.Name" />
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-5">
                <div class="d-flex justify-content-between mb-4 pb-md-2">
                    <div class="breadcrumb mb-0 d-none d-md-block flex-grow-1">
                        <a asp-controller="Home" asp-action="Index" class="menu-link menu-link_us-s text-uppercase fw-medium">@Localizer["Home"]</a>
                        <span class="breadcrumb-separator menu-link fw-medium ps-1 pe-1">/</span>
                        <a asp-controller="Shop" asp-action="Index" class="menu-link menu-link_us-s text-uppercase fw-medium">@Localizer["Shop"]</a>
                        @if (Model.Category != null)
                        {
                            <span class="breadcrumb-separator menu-link fw-medium ps-1 pe-1">/</span>
                            <span class="menu-link menu-link_us-s text-uppercase fw-medium">@Model.Category.Name</span>
                        }
                    </div>
                </div>
                <h1 class="product-single__name">@Model.Name</h1>
                <div class="product-single__rating d-flex align-items-center" data-rating="@Model.Rating" data-review-count="@Model.ReviewCount">
                    <div class="reviews-group d-flex">
                        @for (int i = 1; i <= 5; i++)
                        {
                            if (i <= Model.Rating)
                            {
                                <svg class="review-star active" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg">
                                    <use href="#icon_star" />
                                </svg>
                            }
                            else
                            {
                                <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg">
                                    <use href="#icon_star" />
                                </svg>
                            }
                        }
                    </div>
                    <span class="reviews-note text-lowercase text-secondary ms-1">
                        @if (Model.ReviewCount > 0)
                        {
                            <text>@Model.ReviewCount reviews</text>
                        }
                        else
                        {
                            <text>@Localizer["No Reviews Yet"]</text>
                        }
                    </span>
                </div>
                <div class="product-single__price">
                    <span class="current-price">@CurrencyService.Format(Model.BasePrice)</span>
                </div>
                @if (!string.IsNullOrEmpty(Model.Description))
                {
                    <div class="product-single__short-desc">
                        <p>@Model.Description</p>
                    </div>
                }
                <form name="addtocart-form" method="post" id="addToCartForm">
                    @if (Model.ProductVariants.Any())
                    {
                        <div class="product-single__swatches">
                            <div class="product-swatch text-swatches">
                                <label>@Localizer["Color"]</label>
                                <div class="swatch-list">
                                    @foreach (var variant in Model.ProductVariants)
                                    {
                                        <input type="radio"
                                               name="color"
                                               id="color_@variant.Id"
                                               value="@variant.Id"
                                               data-variant-id="@variant.Id"
                                               data-cover-image="@variant.CoverImageName"
                                               data-stock="@variant.Quantity"
                                               class="swatch-input"
                                               @(Model.ProductVariants.First() == variant ? "checked" : "")>
                                        <label class="swatch js-swatch"
                                               for="color_@variant.Id"
                                               title="@variant.ColorName"
                                               style="@(!string.IsNullOrEmpty(variant.ColorHexCode) ? $"background-color: {variant.ColorHexCode};" : "")">
                                            @if (string.IsNullOrEmpty(variant.ColorHexCode) && !string.IsNullOrEmpty(variant.ColorIconName))
                                            {
                                                <img src="~/Uploads/@variant.ColorIconName" alt="@variant.ColorName" style="width: 30px; height: 30px; border-radius: 50%;" />
                                            }
                                            else if (string.IsNullOrEmpty(variant.ColorHexCode))
                                            {
                                                <span>@variant.ColorName</span>
                                            }
                                        </label>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    <div class="product-single__addtocart">
                        <div class="qty-control position-relative">
                            <input type="number" name="quantity" id="quantity" value="1" min="1" max="@(Model.ProductVariants.FirstOrDefault()?.Quantity ?? 1)" class="qty-control__number text-center">
                            <div class="qty-control__reduce">-</div>
                            <div class="qty-control__increase">+</div>
                        </div>
                        <input type="hidden" name="productVariantId" id="productVariantId" value="@Model.ProductVariants.FirstOrDefault()?.Id" />
                        <button type="submit" class="btn btn-primary btn-addtocart">
                            @Localizer["Add To Cart"]
                        </button>
                    </div>
                </form>
                <div class="product-single__addtolinks">
                    <a href="#" class="menu-link menu-link_us-s add-to-wishlist">
                        <svg width="16" height="16" viewBox="0 0 20 20"
                             fill="none" xmlns="http://www.w3.org/2000/svg">
                            <use href="#icon_heart" />
                        </svg><span>@Localizer["Add To Wishlist"]</span>
                    </a>
                    <share-button class="share-button">
                        <button class="menu-link menu-link_us-s to-share border-0 bg-transparent d-flex align-items-center">
                            <svg width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <use href="#icon_sharing" />
                            </svg>
                            <span>@Localizer["Share"]</span>
                        </button>
                    </share-button>
                </div>
                <div class="product-single__meta-info">
                    <div class="meta-item">
                        <label>SKU:</label>
                        <span>@Model.Id</span>
                    </div>
                    @if (Model.Category != null)
                    {
                        <div class="meta-item">
                            <label>@Localizer["Category"]:</label>
                            <span>@Model.Category.Name</span>
                        </div>
                    }
                    @if (Model.ProductVariants.Any())
                    {
                        <div class="meta-item">
                            <label>@Localizer["Availability"]:</label>
                            <span id="stock-status">
                                @if (Model.ProductVariants.First().Quantity > 0)
                                {
                                    <span class="text-success">@Localizer["InStock"] (@Model.ProductVariants.First().Quantity @Localizer["Available"])</span>
                                }
                                else
                                {
                                    <span class="text-danger">@Localizer["OutOfStock"]</span>
                                }
                            </span>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="product-single__details-tab">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link nav-link_underscore active" id="tab-description-tab" data-bs-toggle="tab"
                       href="#tab-description" role="tab" aria-controls="tab-description" aria-selected="true">@Localizer["Description"]</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link nav-link_underscore" id="tab-additional-info-tab" data-bs-toggle="tab"
                       href="#tab-additional-info" role="tab" aria-controls="tab-additional-info"
                       aria-selected="false">@Localizer["AdditionalInformation"]</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-description" role="tabpanel"
                     aria-labelledby="tab-description-tab">
                    <div class="product-single__description">
                        @if (!string.IsNullOrEmpty(Model.Description))
                        {
                            @Html.Raw(Model.Description)
                        }
                        else
                        {
                            <p>@Localizer["NoDescriptionAvailable"]</p>
                        }
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-additional-info" role="tabpanel" aria-labelledby="tab-additional-info-tab">
                    <div class="product-single__addtional-info">
                        @if (!string.IsNullOrEmpty(Model.AdditionalInformation))
                        {
                            @Html.Raw(Model.AdditionalInformation)
                        }
                        else
                        {
                            <p>@Localizer["NoAdditionalInformationAvailable"]</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Handle color selection
            $('input[name="color"]').on('change', function () {
                const variantId = $(this).data('variant-id');
                const coverImage = $(this).data('cover-image');
                const stock = $(this).data('stock');

                $('#productVariantId').val(variantId);
                $('#quantity').attr('max', stock);

                // Update stock status
                if (stock > 0) {
                    $('#stock-status').html('<span class="text-success">@Localizer["InStock"] (' + stock + ' @Localizer["Available"])</span>');
                } else {
                    $('#stock-status').html('<span class="text-danger">@Localizer["OutOfStock"]</span>');
                }

                // Update main image if needed
                if (coverImage) {
                    $('.product-single__image .swiper-slide:first img').attr('src', '/assets/images/products/' + coverImage);
                }
            });

            // Handle quantity controls
            $('.qty-control__increase').on('click', function () {
                const input = $(this).siblings('.qty-control__number');
                const max = parseInt(input.attr('max'));
                const current = parseInt(input.val());
                if (current < max) {
                    input.val(current + 1);
                }
            });

            $('.qty-control__reduce').on('click', function () {
                const input = $(this).siblings('.qty-control__number');
                const min = parseInt(input.attr('min'));
                const current = parseInt(input.val());
                if (current > min) {
                    input.val(current - 1);
                }
            });

            // Handle form submission
            $('#addToCartForm').on('submit', function (e) {
                e.preventDefault();

                const variantId = $('#productVariantId').val();
                const quantity = $('#quantity').val();

                if (!variantId) {
                    alert('@Localizer["PleaseSelectColor"]');
                    return;
                }

                const formData = new FormData();
                formData.append('productVariantId', variantId);
                formData.append('quantity', quantity);

                $.ajax({
                    url: '/Basket/Add',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function () {
                        // Update cart count
                        $.get('/Basket/GetBasket', function (data) {
                            $('.header__cart-count').text(data.totalCount);
                        });

                        alert('@Localizer["ProductAddedToCart"]');
                    },
                    error: function () {
                        alert('@Localizer["ErrorAddingToCart"]');
                    }
                });
            });
        });
    </script>
}